
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#main {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 300px;
    text-align: center;
}


.heading h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: aqua;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

button:hover {
    background-color: rgb(50, 220, 220);
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.task p {
    margin: 0;
    color: #333;
}

/* Delete button for each task */
.task button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 70px;
}

.task button:hover {
    background-color: #c82333;
}
